<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008421143476-1ri0jgkgbutsjfi0hck8h23ino5rnmm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008421143476-1ri0jgkgbutsjfi0hck8h23ino5rnmm1</string>
	<key>API_KEY</key>
	<string>AIzaSyAmhw_aRsNGJ4Y4KIKw13SLJGqthUvNgw4</string>
	<key>GCM_SENDER_ID</key>
	<string>1008421143476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takaBox</string>
	<key>PROJECT_ID</key>
	<string>takabox-1ecac</string>
	<key>STORAGE_BUCKET</key>
	<string>takabox-1ecac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008421143476:ios:bb40b407d8dd77eb82a8e1</string>
</dict>
</plist>